<script>
    $(document).ready(async function () {
        let params = {
            popup_id:$('#popup_id').val()
        }
        let notice_data = await dbCall('notice', 'loadPopup', params);

        //alert(notice_data)
        console.log(notice_data)

        for (let k in notice_data) {
            if (notice_data.hasOwnProperty(k)) {
                if($("#"+k)){
                    $("#"+k).val(notice_data[k]);
                }
            }
        }

        //console.log(notice_data)
    })

</script>

<div>
    <form>
        <div class="bg-warning">system info</div>
        <div class="bg-primary">service_id : <input id="service_id" value="<%= service_id %>"></div>
        <div class="bg-secondary">popup_id : <input id="popup_id" value="<%= popup_id %>"></div>
    </form>
</div>
<div>
    <div>Title : <input id="title" value=""></div>
    <div>Content : <textarea id="content"></textarea></div>
</div>