<html>

<head>
    <script>
        setTimeout(function () {
            window.location.href = '/';
        }, 2000);
    </script>
</head>

<body>
    <div>    
        400 Bad Request
    </div>
    <div>
        message : <%= message %>
    </div>
</body>

</html>