<script>
  document.addEventListener('DOMContentLoaded', async function () {

    let menu_data = await commonCall('post', 'menu', {})

    console.log(menu_data)

    window.grid = new tui.Grid({
      el: document.getElementById('grid'),
      rowHeaders: ['checkbox'],
      bodyHeight: 500,
      treeColumnOptions: {
        name: 'title',
        useCascadingCheckbox: true
      },
      columns: [
        { header: 'Menu ID', name: 'id', editor: 'text', width: 65, align: 'center' },
        { header: 'Menu Name', name: 'title', editor: 'text' },
        { header: 'UP Menu ID', name: 'up_id', editor: 'text', width: 85, align: 'center' },
        { header: 'Service Code', name: 'service_code', editor: 'text' },
        // { header: 'Level', name: 'level_no', width: 85, align: 'center' },
        { header: 'Order', name: 'order_no', editor: 'text', width: 85, align: 'center' },
        { header: 'Hierarchy Path', name: 'hierarchy', editor: 'text', width: 500 }
      ]
    });

    grid.resetData(menu_data);

    grid.on('expand', ev => {
      const { rowKey } = ev;
      const descendantRows = grid.getDescendantRows(rowKey);

      console.log('rowKey: ' + rowKey);
      console.log('descendantRows: ' + descendantRows);

      if (!descendantRows.length) {
        grid.appendRow(
          {
            name: 'dynamic loading data',
            _children: [
              {
                name: 'leaf row'
              },
              {
                name: 'internal row',
                _children: []
              }
            ]
          },
          { parentRowKey: rowKey }
        );
      }
    });

    grid.on('collapse', ev => {
      const { rowKey } = ev;
      const descendantRows = grid.getDescendantRows(rowKey);

      console.log('rowKey: ' + rowKey);
      console.log('descendantRows: ' + descendantRows);
    });
  })

</script>


<body>
  <h1>Menu</h1>
  <div id="grid"></div>
</body>